{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10 my-5">
    <h3>About us...</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, rerum aperiam excepturi laborum dolorum, qui sapiente sint nemo aspernatur ea illum eum aliquid, nesciunt libero voluptatem porro architecto repellendus ad.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aspernatur cumque modi expedita perferendis est aperiam distinctio repudiandae tempore. Fugit qui, quaerat vitae totam repudiandae voluptatem hic deleniti sequi dolorem!</p>
</div>
    
</div>


{% endblock content %}